@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 70%;

  @media screen and (min-width: 900px) {
    font-size: 80%;
  }

  @media screen and (min-width: 1200px) {
    font-size: 90%;
  }

  @media screen and (min-width: 1800px) {
    font-size: 100%;
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  background: #f6fff7;
}
